/* CSS declarations go here */
/****** General Styles *********/
body{
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  background: cornflowerblue ; /* For browsers that do not support gradients */
}
.panel{
  background: #FFFFFC;
}
.thumbnailHead{
    width : 80%;
    height: 100%;
    overflow: auto;
}
.aboutMe{
  font-size: 12pt;
}

.shadow{
  box-shadow: 4px 4px 4px .7px #262626;
  border-bottom-right-radius:  5px;
  border-bottom-left-radius: 5px;
}

.skilz{
    height: 100%;
    width: 100%;
    overflow: auto;

}

.auSmall{
  height: 60%;
  width: 60%;
}

.noRight > [class*='col-']{
  padding-right: 0 !important;
}

.noLeft > [class*='col-']{
  padding-left: 0 !important;
}

/****** Header Style *********/
.head {
    padding-bottom: 300px;
    position: relative;
    background-image: url("images/legacy.jpg");
    width:calc(100% - 1px)
    height:calc(100% - 1px);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.wide img {
  width:100%;
}

.logo {
  color: snow;
  font-style: italic;
  font-weight: bold;
  font-size: 30pt;
  font-family: 'Exo', sans-serif;
  padding: 10px;
  text-align: center;
}

.line {
  color: snow;
  padding-top: 20px;
  white-space: no-wrap;
  overflow: hidden;
  text-align: center;
}

.text-center {
   text-align:center
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
/****** Navigation Style *********/


/****** Footer Style *********/
footer{
  color: grey;
  padding-top: 25px
  padding-bottom: 10px;
  background-color: #202020;
}
.color-me{
  color: grey;
}
