<template name="map">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="workexperience.html">Work Experience</a>&nbsp;</li>
        <li><a href="education.html">Education</a>&nbsp;</li>
        <li><a href="portfolio.html">Portfolio</a>&nbsp;</li>
        <li><a href="links.html">Other Links</a>&nbsp;</li>
      </ul>
      <button class="btn btn-danger navbar-btn">Button</button>
    </div>
  </nav>
</template>
