<template name="map">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li >
            <a href="{{ pathFor 'home' }}">Home</a>
          </li>
          <li >
            <a href="{{ pathFor 'work'}}">Work Experience</a>
          </li>
          <li>
            <a href="{{ pathFor 'edu'}}">Education</a>
          </li>
          <li>
            <a href="{{ pathFor 'port'}}">Portfolio</a>
          </li>
          <li>
            <a href="{{ pathFor 'links'}}">Other Links</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
