<template name="edu">
  <div class='row'>
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="page-header">
            <h2>Education</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
     <div class="panel-heading">
       <div class='row'>
         <div class="col-xs-2">
           <a href="https://www.southernct.edu" class="thumbnail">
             <img src="..." alt="scsu logo">
           </a>
         </div>
         <div class="col-xs-10">
           <h3>Southern Connecticut State Univeristy</h3>
           <h5>Fall 2014 to Present</h5>
         </div>
       </div>
      </div>
      <div class="panel-body">
        <div class='row'>
          <div class="col-lg-4 col-sm-12 col-xs-12">
            <h4>Area of Study</h4>
            <p>Major: BS in Computer Science</p>
            <p>Minor: Mathematics</p>
            <p>GPA: 3.75</p>
          </div>
          <div class="col-lg-4 col-sm-12 col-xs-12">
            <h4>Extracirculars</h4>
            <h5>Zeta Delta Epsilon: An Honorary Service Society.</h5>
            <p>
            ZDE members are accpeted if they have junior status and a GPA of 3.50 or greater.
            To stay in the orginization, members must maintain a GPA of 3.50, or higher, and
            complete atleast 15 hours of comunity service per semester.
            </p>
          </div>
          <div class="col-lg-4 col-sm-12 col-xs-12">
            <h4>Awards</h4>
            <h5>Dean's List</h5>
            <p>
              Fall 2014, Spring 2015, Spring 2016, Fall 2016
            </p>
          </div>
        </div>
      </div>
    </div>
</template>
