<template name="home">
  <div class='row'>
    <div class="col-xs-12">
      <div class="shadow">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="page-header">
              <h2>About Me</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col-xs-3">
      <div class="shadow">
        <a class="thumbnail">
          <img src="images/ice.jpg" alt="me">
        </a>
      </div>
    </div>
    <div class="col-xs-9">
      <div class="shadow">
        <div class="panel panel-default">
          <div class="panel-body aboutMe">
            <p>
              I am curently a junior at Southern Connecticut State University. I am a working towards a BS
              in Computer Science and I a member of the Undergraduate Honors College. As I conclude my junior year,
              I am preparing to start my undergraduate thesis project. My area of research is continous user authication in smartphones.
              My senior thesis will focus on comparing smart phone opperationg systems wo see which can better authenticate a user.
              In my project I will compare iOS and Andriod opperating systems.
              When not working, or in school, I enjoy hiking, camping, and being active. My main hobbies are photography and cars.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shadow">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class='row'>
          <div class="col-xs-12">
            <h3>Skills</h3>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class='row'>
          <div class="col-xs-3">
            <ul>
              <li>
                Archive Managment
              </li>
              <li>
                Data Entry
              </li>
              <li>
                Confidentail Document Disposal
              </li>
            </ul>
          </div>
          <div class="col-xs-3">
            <ul>
              <li>
                Confidential Document Handeling
              </li>
              <li>
                Customer Service
              </li>
              <li>
                Archive Managment
              </li>
            </ul>
          </div>
          <div class="col-xs-3">
            <ul>
              <li>
                Archive Managment
              </li>
              <li>
                Archive Managment
              </li>
              <li>
                Archive Managment
              </li>
            </ul>
          </div>
          <div class="col-xs-3">
            <ul>
              <li>
                Archive Managment
              </li>
              <li>
                Archive Managment
              </li>
              <li>
                Archive Managment
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shadow">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class='row'>
          <div class="col-xs-4">
            <h3>Languages</h3>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class='row'>
          <div class="col-xs-2 col-md-2">
            <div class="thumbnail">
              <img src="images/htmlThumb.jpeg" alt="GitHub">
              <div class="caption">
                <h4>html</h4>
              </div>
            </div>
          </div>
          <div class="col-xs-2 col-md-2">
            <div class="thumbnail">
              <img src="..." alt="GitHub">
              <div class="caption">
                <h4>Java</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
