<template name="home">
  <div class='row'>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <h2>About Me</h2>
      <p>
      I am curently a junior at Southern Connecticut State University. I am a working towards a BS
      in Computer Science and I a member of the Undergraduate Honors College. As I conclude my junior year,
      I am preparing to start my undergraduate thesis project. My area of research is (put in area of research).
      </p>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
  <div class='row'>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <h3>Skills</h3>
      <p>

      </p>
    </div>
    <div class="col-sm-2">
    </div>
    </div>
  <div class='row'>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <h3>Languages</h3>
      <!--add html thumbnail-->
      <p>html</p>
      <!--add java thumbnail-->
      <p>Java</p>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</template>
