<template name="links">
  <div class='row'>
    <div class="col-xs-12">
      <div class="shadow">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="page-header">
              <h2>Links</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col-xs-4 col-md-4">
      <div class="shadow">
        <div class="thumbnail">
          <img src="..." alt="GitHub">
          <div class="caption">
            <h4>GitHub</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-md-4">
      <div class="shadow">
        <div class="thumbnail">
          <img src="..." alt="LinkedIn">
          <div class="caption">
            <h4>LinkedIn</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-md-4">
      <div class="shadow">
        <div class="thumbnail">
          <img src="..." alt="Facebook">
          <div class="caption">
            <h4>Facebook</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
