<template name="resea">
  <div class="shadow panel panel-default">
    <div class="panel-body">
      <div class="page-header">
        <div class="container">
          <div class='row'>
            <div class="col-xs-12">
              <h2>Research<br /><small>Finding Something New</small></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class=" shadow panel panel-default">
      <div class="panel-heading">
        <div class='row'>
          <div class="col-md-2 col-sm-4 col-xs-4">
            <a href="https://www.southernct.edu" target="_blank" class="thumbnail thumbnailHead">
              <img src="images/scsu.jpg" alt="scsu logo">
            </a>
          </div>
          <div class="col-md-10 col-sm-8 col-xs-8">
            <h3>Undergraduate Honors Thesis</h3>
            <h4>Southern Connecticut State University, Department of Computer Science</h4>
            <h5>Febuary 2017 to Present</h5>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class='row'>
          <div class="col-sm-10 col-sm-offset-1">
            <h4>Area of Research</h4>
            <p>My senior thesis project will compare the ablity of iOS and Andriod devices to record biomectirct factors to allow for continous user authetication.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-xs-6">
            <h4>Thesis Comittee</h4>
            <h5>Thesis Advisor:  <a href="http://southernct.edu/academics/schools/arts/departments/computerscience/hossain.html">Dr. Md Shafaeat Hossain</a></h5>
            <h5>Univeristy Reader: <a href="http://southernct.edu/academics/schools/arts/departments/computerscience/lancor.html">Dr. Lisa Lancor</a></h5>
            <h5>Second Univeristy Reader:  <a href="http://www.tc.columbia.edu/faculty/jps164/">Dr. Philip Smith</a></h5>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-6">
            <h4>Awards</h4>
            <h5>Dean's List</h5>
            <p>
              Fall 2014, Spring 2015, Spring 2016, Fall 2016
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="auburn">
    <div class="container">
      <div class=" shadow panel panel-default">
         <div class="panel-heading">
           <div class='row'>
             <div class="col-md-2 col-sm-4 col-xs-4">
               <a href="http://www.eng.auburn.edu/comp/research/impact/" target="_blank" class="thumbnail thumbnailHead">
                 <img src="images/auburn.png" alt="Auburn logo">
               </a>
              </div>
              <div class="col-md-5 col-sm-8 col-xs-8">
                <h3>NSF REU on Smart UAVs</h3>
                <h4>Auburn University</h4>
                <h5>Samuel Ginn College Of Engineering</h5>
                <h5>Department of Computer Science and Software Engineering</h5>
                <h5>May 22nd, 2017 to July 14th, 2017</h5>
              </div>
            </div>
          </div>
          <div class="panel-body">
          <div class='row'>
            <div class="col-sm-4">
              <h4>Area of Research:</h4>
              <p>
                Our research project focused on developing a GPS-less homing system for an Unmaned Airial Vehicle.
                The system used computer vision to.....
              </p>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-6">
              <h4>Research Team:</h4>
              <h5>James Brown, Southern Connecticut State Univeristy</h5>
              <h5>Emily Sheetz, Monmouth College</h5>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-6">
              <h4>Directors:</h4>
              <h5> <a href="http://www.eng.auburn.edu/users/sbiaz/" target="_blank">Dr. Saad Biaz</a>, Director, Principal Investigator</h5>
              <h5><a href="http://eng.auburn.edu/csse/faculty/index.html" target="_blank">Dr. Richard Chapman</a>, Aerospace Engineering Advisor</h5>
            </div>
          </div>
          <div class='row'>
            <div class="col-md-2 col-sm-4 col-xs-4 noRight">
              <a href="https://www.defense.gov" target="_blank" class="thumbnail thumbnailHead auSmall">
                <img src="images/dod.gif" alt="dod logo">
              </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-4 noLeft">
              <a href="https://www.nsf.gov" target="_blank" class="thumbnail thumbnailHead auSmall">
                <img src="images/nsf.png" alt="nsf logo">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="scsu">
    <div class="container">
      <div class=" shadow panel panel-default">
         <div class="panel-heading">
           <div class='row'>
             <div class="col-md-2 col-sm-4 col-xs-4">
               <a href="https://www.southernct.edu" target="_blank" class="thumbnail thumbnailHead">
                 <img src="images/scsu.jpg" alt="scsu logo">
               </a>
             </div>
             <div class="col-md-10 col-sm-8 col-xs-8">
               <h3>Undergraduate Research Assistant</h3>
               <h4>Southern Connecticut State University, Department of Computer Science</h4>
               <h5>Febuary 2017 to Present</h5>
             </div>
           </div>
         </div>
         <div class="panel-body">
          <div class='row'>
            <div class="col-lg-4 col-sm-12 col-xs-12">
              <h4>Area of Study</h4>
              <p>Major: BS in Computer Science</p>
              <p>Minor: Mathematics</p>
              <p>GPA: 3.75</p>
            </div>
            <div class="col-lg-4 col-sm-12 col-xs-12">
              <h4>Extracirculars</h4>
              <h5>Zeta Delta Epsilon: An Honorary Service Society.</h5>
              <p>
                ZDE members are accpeted if they have junior status and a GPA of 3.50 or greater.
                To stay in the orginization, members must maintain a GPA of 3.50, or higher, and
                complete atleast 15 hours of comunity service per semester.
              </p>
            </div>
            <div class="col-lg-4 col-sm-12 col-xs-12">
              <h4>Awards</h4>
              <h5>Dean's List</h5>
              <p>
                Fall 2014, Spring 2015, Spring 2016, Fall 2016
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
