<template name="work">
  <div class='row'>
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="page-header">
            <h2>Work Experience</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
     <div class='row'>
       <div class="col-sm-6">
          <h3>Cheshire Southington Probate Court</h3>
          <h5>March 2015 - Present</h5>
      </div>
    </div>
  </div>
    <div class="panel-body">
      <div class='row'>
        <div class="col-sm-6">
          <h5>Position: Assistant Clerk</h5>
          <p>
            My duties include managing the old case files, as well as enting the old files
            into the computer case management system.  I am also responcible for the disposal
            of all of the old confidentail material.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
