<template name="work">
  <div class="shadow">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="page-header">
          <div class="container">
            <div class='row'>
              <div class="col-sm-12">
                <h2>Work Experience<br /><small>My Professional Journey</small></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class=" shadow panel panel-default">
      <div class="panel-heading">
        <div class='row'>
          <div class="col-md-2 col-sm-4 col-xs-4">
            <a href="https://www.southernct.edu" target="_blank" class="thumbnail thumbnailHead">
              <img src="images/scsu.jpg" alt="scsu logo">
            </a>
          </div>
          <div class="col-md-10 col-sm-8 col-xs-8">
             <h3>Southern Connecticut State University</h3>
             <h4>Undergraduate Teaching Assistant</h4>
             <h5>September 2017 - Present</h5>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="container">
          <div class='row'>
            <div class="col-sm-6">
              <h5>Position: Undergraduate Teaching Assistant</h5>
              <p>
                It was my job to host and manage the seating of patrons, as well as clean tables after customers left.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="auburn">
    <div class="container">
      <div class=" shadow panel panel-default">
         <div class="panel-heading">
           <div class='row'>
             <div class="col-md-2 col-sm-4 col-xs-4">
               <a href="http://www.eng.auburn.edu/comp/research/impact/" target="_blank" class="thumbnail thumbnailHead">
                 <img src="images/auburn.png" alt="Auburn logo">
               </a>
              </div>
              <div class="col-md-5 col-sm-8 col-xs-8">
                <h3>NSF REU on Smart UAVs</h3>
                <h4>Auburn University, Sam</h4>
                <h4>Department of Computer Science and Software Engineering</h4>
                <h5>May 22nd, 2017 to July 14th, 2017</h5>
              </div>
            </div>
          </div>
          <div class="panel-body">
          <div class='row'>
            <div class="col-sm-4">
              <h4>Area of Research</h4>
              <p>My senior thesis project will compare the ablity of iOS and Andriod devices to record biomectirct factors to allow for continous user authetication.</p>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-6">
              <h4>Awards</h4>
              <h5>Dean's List</h5>
              <p>
                Fall 2014, Spring 2015, Spring 2016, Fall 2016
              </p>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-6">
              <h4>Directors</h4>
              <h5> <a href="http://www.eng.auburn.edu/users/sbiaz/" target="_blank">Dr. Saad Biaz</a>, Director, Principal Investigator</h5>
              <h5><a href="http://www.eng.auburn.edu/users/crousgl/" target="_blank">Dr. Gilbert Crouse</a>, Aerospace Engineering Advisor</h5>
            </div>
          </div>
          <div class='row'>
            <div class="col-md-2 col-sm-4 col-xs-4 noRight">
              <a href="https://www.defense.gov" target="_blank" class="thumbnail thumbnailHead auSmall">
                <img src="images/dod.gif" alt="dod logo">
              </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-4 noLeft">
              <a href="https://www.nsf.gov" target="_blank" class="thumbnail thumbnailHead auSmall">
                <img src="images/nsf.png" alt="nsf logo">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class=" shadow panel panel-default">
      <div class="panel-heading">
        <div class='row'>
          <div class=" col-md-2 col-sm-4 col-xs-4">
            <a href="http://www.gnhbua.com" target="_blank" class="thumbnail thumbnailHead">
              <img src="images/ump.jpg" alt="GNHBUA">
            </a>
          </div>
          <div class=" col-md-10 col-sm-8 col-xs-8">
            <h3>Greater New Haven Baseball Umpire's Assosication</h3>
            <h5>March 2017 - Present</h5>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class='row'>
          <div class="col-sm-6">
            <h5>Position: Umpire Board Member</h5>
            <p>
              As an umpire, it is my job to officiate High School, American Legion, youth, and adult league basball games.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class=" shadow panel panel-default">
      <div class="panel-heading">
        <div class='row'>
          <div class=" col-md-2 col-sm-4 col-xs-4">
            <a href="http://www.ctprobate.gov/Pages/Welcome.aspx" target="_blank" class="thumbnail thumbnailHead">
              <img src="images/probate.gif" alt="CT Judicial Seal">
            </a>
          </div>
          <div class=" col-md-10 col-sm-8 col-xs-8">
            <h3>Cheshire Southington Probate Court</h3>
            <h5>March 2015 - May 2017</h5>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class='row'>
          <div class="col-sm-6">
            <h5>Position: Assistant Clerk</h5>
            <p>
              My duties include managing the old case files, as well as entering the old files
              into the case management system.  I am also responcible for the disposal
              of all of the old confidentail material.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
